<div class="main-logs">
    <div class="Search-window">

        <mat-form-field class="date-selector" appearance="fill">
            <mat-label>Дата с</mat-label>
            <input matInput type="date">
        </mat-form-field>

        <mat-form-field class="date-selector" appearance="fill">
            <mat-label>Дата по</mat-label>
            <input matInput type="date">
        </mat-form-field>

        <mat-form-field appearance="fill" class="option-selector">
            <mat-label>Выбор модуля</mat-label>
            <mat-select>
                <mat-option value="option">ALL</mat-option>
                <mat-option value="option">IshopAPI</mat-option>
                <mat-option value="option">DCT Management</mat-option>
                <mat-option value="option">Loyalty Card</mat-option>
                <mat-option value="option">Payment Management</mat-option>
                <mat-option value="option">Discord Notification</mat-option>
                <mat-option value="option">Discount</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="option-selector">
            <mat-label>Выбор статуса</mat-label>
            <mat-select>
                <mat-option value="option">ALL</mat-option>
                <mat-option value="option">DEBUG</mat-option>
                <mat-option value="option">INFO</mat-option>
                <mat-option value="option">WARN</mat-option>
                <mat-option value="option">ERROR</mat-option>
                <mat-option value="option">FATAL</mat-option>
                <mat-option value="option">OFF</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button class="search-button">Поиск</button>

    </div>


    <div class="main-window">
        <div class="message-item" *ngFor="let l of loglist">
            <div class="message-item-list" [ngClass]="{
                'debug': l.Status === 0,
                'info' : l.Status === 1,
                'warn' : l.Status === 2,
                'error': l.Status === 3,
                'fatal': l.Status === 4,
                'off'  : l.Status === 5
            }">
                <ul class=" message-list">
                    <li>Модуль: {{l.ModuleName}} </li>
                    <li>Дата: {{l.Date}} </li>
                    <li>Описание:{{l.Message}} </li>
                </ul>
            </div>
        </div>
    </div>
</div>