.demo-table {
    margin-top: 0.5cm;
    width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}
.mat-raised-button {
    margin-left: 0.5cm;
}
.select-row {
    background: rgba(137, 43, 226, 0.5);
}
.highlight .mat-cell {
    background-color: rgba(30, 136, 229, 0.7);
    font-weight: bold;
    color: white !important;
}
